  body {
    text-align: center;
    font-family: Arial;
    margin-top: 100px;
}

input {
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
}

#result {
    font-size: 20px;
    margin-top: 20px;
    color: green;
}
